

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* END RESET */

header h1 {
	padding-top: 100px;
	padding-bottom: 25px;
	color: black;
	font-family: helvetica;
	font-size: 48px;
	letter-spacing: 5px;
	font-style: bold;
	text-align: center;
}

h2 {
	padding-top: 40px;
	color: eeeeee;
	font-style: italic;
	font-size: 14px;
	text-align: center;
}

header h3 {
	padding-bottom: 50px;
	color: red;
	font-family: georgia;
	font-size: 24px;
	letter-spacing: 2px;
	font-style: normal;
	font-variant: small-caps;
	text-align: center;
}

h5 {
	padding-bottom: 50px;
	color: black;
	font-family: helvetica;
	font-size: 24px;
	letter-spacing: 5px;
	font-style: bold;
	text-align: center;
}

section1 h4 {
	color: red;
	font-family: georgia;
	font-size: 16px;
	letter-spacing: 2px;
	font-style: normal;
	font-variant: small-caps;
}

section2 h4 {
	color: red;
	font-family: georgia;
	font-size: 24px;
	letter-spacing: 4px;
	font-style: bold;
	font-variant: small-caps;
}

section1 li {
	margin-left: 1.5em;
	margin-top: 1.5em;
    margin-bottom: 2em;
	list-style: none;
	list-style-position:inside;
	color: black;
	font-family: helvetica;
	font-size: 14px;
	line-height: 1;
}

section2 li {
	margin-top: 0em;
    margin-bottom: 2em;
	list-style: decimal;
	color: eeeeee;
	font-family: helvetica;
	font-size: 21px;
	line-height: 1.5;
}
section2 li span{
	margin-top: 0em;
    margin-bottom: 2em;
	list-style: decimal;
	color: black;
	font-family: helvetica;
	font-size: 21px;
	line-height: 1.5;
}

section1 {
	background-color: #eeeeee;
	float: left;
	width: 25%;
	padding: 5%;
}

section2 {
	float: left;
	width: 35%;
	padding-top: 5%;
	padding-left: 10%;
}

footer {
	float: left;
	height: 100px;
	width: 100%;
	background-color: red;
}
.footertext{
	margin: 0 auto;
	width: 100%;
	color: white;
	margin-top: 40px;
	padding-bottom: 50px;
	font-family: georgia;
	font-size: 24px;
	letter-spacing: 4px;
	font-style: bold;
	font-variant: small-caps;
	text-align: center;
}

#pastapic {
	width:100%;
}