/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

body {
	height: 100%;
}

/* TYPE */

h1 { 
	color: black;
	font-size: 4em;
	font-family: helvetica;
	font-weight: bold;
	font-style: uppercase;
	text-transform: uppercase;
	letter-spacing: .05em;
	text-rendering: optimizeLegibility;
	text-align: center;
	margin: .75em;
}

h2 {
	color: black;
	font-size: .75em;
	font-family: helvetica;
	font-weight: bold;
	font-style: uppercase;
	text-transform: uppercase;
	letter-spacing: .05em;
	text-rendering: optimizeLegibility;
}

#aboutsec h2 {
	float: left;
	width: 50%;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: .5em;
	font-size: 1.5em;
	text-decoration: normal;
	color: white;
}

#followsec h2 {
	font-size: 1em;
	padding-top: 2em;
	padding-bottom: 0;
}

#about h2 {
	text-align: center;
	color: white;
}

h3 {
	color: #cf0000;
	font-size: .75em;
	font-family: georgia;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-rendering: optimizeLegibility;
}

#topdiv h3 {
	text-align: center;
}

#followsec h3 {
	padding: 1em;
}

#aboutsec h3 {
	float: left;
	width: 50%;
	padding-left: 3em;
	padding-right: 2em;
	padding-bottom: 2em;
	color: white;
	font-size: 1em;
}

h4 {
	color: #cf0000;
	font-size: 1em;
	font-family: georgia italic;
	font-weight: normal;
	text-decoration: italic;
	text-transform: lowercase;
	letter-spacing: .1em;
}


li {
	float: left;
	color: black;
	font-size: 1em;
	font-family: helvetica;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	text-rendering: optimizeLegibility;
	list-style: none;
}

#nav li {
	color: white;
	margin: .5em;
    font-size: .75em;
    text-decoration: none;
}

#aboutsec p {
	float: left;
	width: 50%;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: normal;
	color: white;
}

a:link {color:white; list-style: none;}      /* unvisited link */
a:visited {color:white; list-style: none;}  /* visited link */
a:hover {color:#cf0000;}  /* mouse over link */
a:active {color:white; list-style: none;}  /* selected link */

#followsec a:link {color:black; list-style: none;}      /* unvisited link */
#followsec a:visited {color:black; list-style: none;}  /* visited link */
#followsec a:hover {color:#cf0000;}  /* mouse over link */
#followsec a:active {color:black; list-style: none;}  /* selected link */

#backtotop a:link {color:#cf0000; list-style: none;}      /* unvisited link */
#backtotop a:visited {color:#cf0000; list-style: none;}  /* visited link */
#backtotop a:hover {color:#cf0000;}  /* mouse over link */
#backtotop a:active {color:#cf0000; list-style: none;}  /* selected link */

/* DIVs */

#topdiv {
	background-color: #cf0000;
}

#nav {
	position: fixed;
	background-color: black;
	width: 100%;
	padding: 1%;
}

#namecard {
	background-color: white;
	border-style: solid;
	border-width: .25em;
	border-color: black;
	margin-top: 4em;
	padding: 4em;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#contacttag {
	background-color: black;
	width: 400px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	font-size: 1em;
	font-family: georgia;
	margin-bottom: 8em;
}

#design {
	float: left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	background-color: #b2b2b2;
}

#designsec {
	float: left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #b2b2b2;
}

#projectbox {
	width: 30.33%;
	float: left;
	margin-bottom: 4em;
	margin-left: 1em;
	margin-right: 1em;
	background-color: white;
	text-align: center;
}

#follow {
	float: left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	background-color: white;
}

#about {
	float: left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	background-color: #cf0000;
}

#aboutsec {
	float: left;
	background-color: #cf0000;
	padding: 2em;
	margin: auto 0
}

#contact {
	float: left;
	width: 100%;
    margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
	background-color: white;
}

#followsec {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#mediabox {
	width: 33.33%;
	float: left;
	padding-bottom: 3em;
	text-align: center;
}

#backtotop {
	float: left;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

/* IMAGES */

#nav img {
	float: left;
	margin-right: 1em;
}

#topdiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aboutsec img {
	float: left;
	max-width: 100%;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

#backtotop img {
	float: center;
	padding: 1em;
	text-align: center;
}

/* HTML CLASSES */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.invert {
	-webkit-filter: invert(100%);
}


